body {
    display: flex;
    justify-content: center;
    
    
}


/* Arranges squares into grid */
#container {
    display: flex;
    flex-wrap: wrap;
    /*border: solid black 1px;*/
    margin: 10px;
    width: 500px;
    height: 500px;
}

